$colorOrange : #f09600;
$colorBrown : #823c2d;
$colorGray : #c8c8c8;
$colorDeepGray : #787878;
$colorExtraGray : #5a5a5a;
$colorBlack : #282828;
$colorBlue : #73c3be;
$colorPink : #ff91af;
$colorYellowGreen : #c8cd5f;
$colorGreen : #96c34b;
$colorPurple : #aa8cb4;
$colorDeepOrange : #dc7800;